<form action="{% url 'operaciones:enviar' %}" method="post">
{% csrf_token %}
  <p>numero 1<input type="text" name="num1" size="40"></p>
  <p>numero 2<input type="text" name="num2" size="40"></p>
  <p>Operacion a realizar
    <input type="radio" name="operacion" value="suma"> suma
    <input type="radio" name="operacion" value="resta"> resta
    <input type="radio" name="operacion" value="multiplicacion"> multiplicacion
    <input type="radio" name="operacion" value="division"> division
  </p>
  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
  </p>
</form>